################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMPG323-Project-2-37460366/FileContentIndex
/NWU-Tech-Trends/.vs/NWU-Tech-Trends/FileContentIndex
